
<launch>
  <arg name="robot_name" default="RMP_1"/>
  <group ns="$(arg robot_name)">
  <!-- 设置需要用于导航的地图  -->
  <arg name="map_file" default="$(find car_bringup)/map/map.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" output="screen" >
    <param name="frame_id" value="RMP_1/map"/>>
  </node>
  <!-- 开启用于导航的自适应蒙特卡洛定位amcl-->
  <!-- <include file="$(find fwd_control)/launch/include/amcl.launch">
    <arg name="use_map_topic" default="false"/>
    <arg name="global_frame_id"  default="$(arg robot_name)/map"/>
    <arg name="odom_frame_id" default="$(arg robot_name)/odom"/>
    <arg name="base_frame_id"  default="$(arg robot_name)/base_footprint"/>
  </include> -->
  <!-- MarkerArray功能节点 -->
  <!-- <node name='send_mark' pkg="akm_control" type="send_mark.py"/> -->
  </group>
</launch>




